@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
:root{
    --primary-color:#fdba74;
    --gray-color:#334155;
    --green-color:#65a30d;
}

body{
    margin: 0px;
    font-family: 'Sail', cursive;
    /* background-image: linear-gradient(#cac5ad,#938343,#9e7c15); */
    /* background: linear-gradient(to right, #ff5f6d, #ffc371); */
}

.nav-header{
    width: 100%;
    background-color: var(--primary-color);
    padding:0.5rem;
    text-align: center;
    border-bottom-left-radius: 5rem;
}

#txt-output{
    display: block;
    padding:1rem;
    margin: 1rem;
    height:15vh;
    width: 100%;
    border: 1px solid black;
}

#txt-input{
    font-size: medium;
    font-family:'Sail', cursive ;
    height:15vh;
    margin: 1rem;
    display: block;
    width: 100%;
    padding:1rem;
}

#txt-btn-translate{
    /* text-align: center; */
    background-color: var(--primary-color);
    border-radius: 2rem;
    border: white;
    font-size: large;
    font-family: 'Sail', cursive;;
    margin: 1rem;
    padding: 1rem;
}

.txt-output-header{
    color: var(--gray-color);
    text-align: center;
}

.main{
    width:60%;
    padding:1rem;
    margin: auto;
}

.footer{
    width: 100%;
    max-height:15%;
    left: 0;
    bottom: 0;
    position:absolute ;
    padding: 0.5rem;
    background-color: var(--primary-color);
    text-align: center;
    border-top-right-radius: 5rem;
}
.footer div{
    /* font-size: x-large; */
}